<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Hi, this is the <%= yield(:title) %> Page :D</h1>
    <p>Find me in app/views/static_pages/<%= yield(:path) %>.html.erb</p>
    <%= yield %>
  </body>
</html>
